<html>
    <head>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </head>
    <body>

        <br/>

        <form class="container" action="create" method="POST">
            <input name='name' class='form-control'/>
            <button class='btn btn-primary'>Salvar</button>
        </form>

        <table class="table table-hover">

            {% for task in tasks: %}
            <tr>
                <td>{{task['name']}}</td>
                <td>{{task['finished']}}</td>
            </tr>
            {% endfor %}

        </table>
    </body>
</html>